<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Joincon</servlet-name>
  	<display-name>Joincon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Joincon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logincon</servlet-name>
  	<display-name>Logincon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Logincon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logoutcon</servlet-name>
  	<display-name>Logoutcon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Logoutcon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deletecon</servlet-name>
  	<display-name>Deletecon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Deletecon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Updatecon</servlet-name>
  	<display-name>Updatecon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Updatecon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatecon</servlet-name>
  	<display-name>updatecon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.updatecon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>recomment</servlet-name>
  	<display-name>recomment</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.recomment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Algorithm</servlet-name>
  	<display-name>Algorithm</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Algorithm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ordercon</servlet-name>
  	<display-name>Ordercon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Ordercon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Shopping_basketcon</servlet-name>
  	<display-name>Shopping_basketcon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Shopping_basketcon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>product_minus_con</servlet-name>
  	<display-name>product_minus_con</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.product_minus_con</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Orderdetailcon</servlet-name>
  	<display-name>Orderdetailcon</display-name>
  	<description></description>
  	<servlet-class>com.sweathome.controller.Orderdetailcon</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Joincon</servlet-name>
  	<url-pattern>/Joincon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logincon</servlet-name>
  	<url-pattern>/Logincon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logoutcon</servlet-name>
  	<url-pattern>/Logoutcon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deletecon</servlet-name>
  	<url-pattern>/Deletecon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Updatecon</servlet-name>
  	<url-pattern>/Updatecon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatecon</servlet-name>
  	<url-pattern>/updatecon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>recomment</servlet-name>
  	<url-pattern>/recomment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Algorithm</servlet-name>
  	<url-pattern>/Algorithm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ordercon</servlet-name>
  	<url-pattern>/Ordercon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Shopping_basketcon</servlet-name>
  	<url-pattern>/Shopping_basketcon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>product_minus_con</servlet-name>
  	<url-pattern>/product_minus_con</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Orderdetailcon</servlet-name>
  	<url-pattern>/Orderdetailcon</url-pattern>
  </servlet-mapping>
</web-app>
