@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'SUIT-Regular';
    font-weight: 500;
}

body {
    font-size: 13px;
    color: #000;
    background: #fff;
    padding-bottom:1%;

}

.member-edit .table {
    border-top: 2px solid #1a1a1a;
}

/* #container {
    width: 100%;
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

#contents {
    margin-top: 0;
}

#container #contents {
    width: 92%;
    margin: 0 auto;
    float: none;
    padding: 0;
} */

.titleArea {
    margin: 25px 0;
    text-align: center;
}

.titleArea h2 {
    font-size: 22px;
    font-weight: 500;
    color: #1a1a1a;
    display: inline-block;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
}

.box {
    /* margin: 20px 0;
    text-align: center; */
    margin: 50px 0 20px;
    text-align: left;
}

.box::after {
    display: block;
    content: "";
    clear: both;
}

.right {
    /* float: right;
    text-align: right;
    float: none;
    position: relative !important;
    margin-left: 10px;
    right: 0; */
    /* font-size: 14px;
    color: #1a1a1a; */
    margin: -19px 0 0 0;
    display: block;
    /* line-height: 1; */
    text-align: right;
}

.outbtn {
    background-color: #FFF;
    color: black;
    width: 85px;
    height: 35px;
    padding: 12px 10px;
    line-height: 48px;
    border: 1px solid #f77870;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;

}

.area {
    margin: 50px 0 20px;
    text-align: left;
}

.member-edit {
    max-width: 720px;
    margin: 0 auto;
}

.member-edit .table {
    border-top: 2px solid #f77870;
    border-bottom: 2px solid #f77870;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: initial;
    box-sizing: border-box;
    text-indent: initial;
}

col {
    display: table-column;
    width: 190px;
    width: auto;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;

}

.head {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

.table th {
    border-bottom: 1px solid #f77870;
    background-color: #fabfba;

}

td {
    padding: 10px 20px;
    height: auto;
    border-bottom: 1px solid #f77870;
}

.input {
    width: 410px;
    background: white;
    height: 40px;
    line-height: 40px;
    padding: 2px 4px 2px 15px;
    border: 1px solid #f77870;
    color: #000;
    font-size: 13px;
    box-sizing: border-box;
    outline: 1px;
}

.txtInfo {
    color: #868686;
    font-size: 12px;
    line-height: 22px;
    display: block;
    margin: 10px 0 0 0;
}

.btnBasic {
    margin-left: 10px;
    display: inline-block;
    padding: 12px 20px;
    height: 40px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid #f77870;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
}

#custom_select {
    position: relative;
    opacity: 1;
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: 0;
    background-size: 18px 18px;
    outline: 0;
}

.base-button {
    display: flex;
    margin-top: 40px;
    margin: 12px 0 0 0;
    text-align: center;
}

.btn {
    flex: 1;
    height: 56px;
    padding: 0;
    line-height: 56px;
    font-size: 16px;
    border: 1px solid #f77870;
    display: inline-block;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    word-spacing: -0.5px;
    letter-spacing: 0;
    text-align: center;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
}

